{% extends 'content_page.html' %}
{% set pagename = 'Code' %}
{% block body %}
<p>
  I’m a fun, energetic, resourceful programmer with a passion for JavaScript. I
  have egregious levels of experience in both client- and server-side JS. I have
  over a year of experience in ServiceNow administration and development at the
  University of Colorado Boulder. If you pay me enough I will also do things in
  languages besides JavaScript.
<div class="contact-links content-contact-links">
  <a href="/resources/docs/resume_no_phone_number.pdf"><i class="fa fa-file-text" aria-hidden="true"></i> <span>Resume</span></a>
</div>
<div class="contact-links content-contact-links">
  <a href="https://github.com/mrjacobbloom"><i class="fa fa-github-square" aria-hidden="true"></i> <span>Github</span></a>
  |
  <a href="https://jsfiddle.net/user/mrjacobbloom/"><i class="fa fa-jsfiddle" aria-hidden="true"></i> <span>JSFiddle</span></a>
</div>
</p>
<h2>Projects</h2>
<p>
Here are a few of my favorite projects that I've either done on my own or been a part of:
</p>
<div class="hero-mom">
  <a href="https://github.com/mrjacobbloom/teamWORK" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/natural-neighbors.mp4"></video>
    </div>
    <div class="hero-content">Natural Neighbors</div>
  </a>
  <a href="https://github.com/mrjacobbloom/fruit" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/fruit.mp4"></video>
    </div>
    <div class="hero-content">Fruit</div>
  </a>
  <a href="https://notochord.github.io/notochord/demo/" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/notochord.mp4"></video>
    </div>
    <div class="hero-content">Notochord</div>
  </a>
  <a href="https://github.com/ElementalCode/elemental" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/elemental.mp4"></video>
    </div>
    <div class="hero-content">Elemental</div>
  </a>
  <a href="https://mrjacobbloom.github.io/editor/" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/editor.mp4"></video>
    </div>
    <div class="hero-content">Editor</div>
  </a>
  <a href="/code/yolobrella/" class="hero" target="_blank">
    <div class="hero-bg" aria-hidden="true">
      <video autoplay loop muted src="/resources/video/yolobrella.mp4"></video>
    </div>
    <div class="hero-content">Yolobrella</div>
  </a>
</div>
{% endblock %}
