{% extends 'layout.html' %}
{% set pagename = 'Code' %}
{% block body %}
<p>
I've done a lot of code things over the years. Check out some of my work on the following websites:
<div class="contact-links content-contact-links">
  <a href="https://github.com/mrjacobbloom"><i class="fa fa-github-square" aria-hidden="true"></i> <span>Github</span></a>
  <a href="https://jsfiddle.net/user/mrjacobbloom/"><i class="fa fa-jsfiddle" aria-hidden="true"></i> <span>JSFiddle</span></a>
</div>
</p>
<h2>Examples</h2>
<p>
Here are a few of my favorite projects that I've either done on my own or been a part of:
</p>
<div class="hero-mom">
  <a href="https://github.com/ElementalCode/elemental" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/elemental.mp4"></video>
    </div>
    <div class="hero-content">Elemental</div>
  </a>
  <a href="{{ url }}code/editor/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/editor.mp4"></video>
    </div>
    <div class="hero-content">Editor</div>
  </a>
  <a href="{{ url }}code/yolobrella/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/yolobrella.mp4"></video>
    </div>
    <div class="hero-content">Yolobrella</div>
  </a>
  <a href="https://jsfiddle.net/mrjacobbloom/L8GZv/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/karaoke.mp4"></video>
    </div>
    <div class="hero-content">Karaoke</div>
  </a>
  <a href="https://jsfiddle.net/mrjacobbloom/wyedx7bq/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/doot.mp4"></video>
    </div>
    <div class="hero-content">Doot</div>
  </a>
  <a href="https://jsfiddle.net/mrjacobbloom/65L2yv8r/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="{{ url }}resources/video/dot_dance.mp4"></video>
    </div>
    <div class="hero-content">Dot Dance</div>
  </a>
</div>
{% endblock %}
