<footer class="footer triangle">
  <div class="container">
    <div class="contact-links">
      <a href="mailto:mr.jacob.bloom@gmail.com" aria-label="Email" title="Email"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
      |
      <a href="https://github.com/mrjacobbloom" aria-label="Github" title="Github"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <a href="https://jsfiddle.net/user/mrjacobbloom/" aria-label="JSFiddle" title="JSFiddle"><i class="fa fa-jsfiddle" aria-hidden="true"></i></a>
      |
      <a href="https://www.youtube.com/user/jswingcovers" aria-label="Youtube" title="Youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      <a href="https://soundcloud.com/mrjacobbloom" aria-label="SoundCloud" title="SoundCloud"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      |
    </div>
    &copy; <span id="year"><script>document.querySelector('#year').textContent = (new Date()).getFullYear();</script></span> Jacob Bloom
  </div>
</footer>
