<div class="footer">
  <div class="container">
    <div class="contact-links">
      <a href="mailto:mr.jacob.bloom@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/MrJacobBloom"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://twitter.com/mrjacobbloom"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      |
      <a href="https://github.com/mrjacobbloom"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <a href="https://jsfiddle.net/user/mrjacobbloom/"><i class="fa fa-jsfiddle" aria-hidden="true"></i></a>
      |
      <a href="https://www.youtube.com/user/jswingcovers"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      <a href="https://soundcloud.com/mrjacobbloom"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
    </div>
    &copy; <span id="year"><script>document.querySelector('#year').textContent = (new Date()).getFullYear();</script></span> Jacob Bloom
  </div>
</div>
