{% extends 'skeleton.html' %}
{#  {% set pagename = 'Home' %}    #}

{% set bodyClass = 'animIn' %}
{% set animIn = true %}

{% block skeleton_head %}
  <link href="/resources/css/index.css" rel="stylesheet">
{% endblock %}

{% block skeleton_body %}
  <a href="#" id="animIn-overlay" aria-label="Skip intro" title="Skip intro"></a>
  {% include "navbar.html" %}
  <div class="content">
    <div class="hero-mom">
      <a href="code/" class="hero">
        <div class="hero-bg" aria-hidden="true">
          <video autoplay muted loop src="/resources/video/code.mp4"></video>
        </div>
        <div class="hero-content">So yeah, I can code if you want</div>
      </a>
      <a href="music/" class="hero">
        <div class="hero-bg" aria-hidden="true">
          <video autoplay muted loop src="/resources/video/music.mp4"></video>
        </div>
        <div class="hero-content">I also do music if that's more your thing</div>
      </a>
    </div>
    <a class="scroll-message" href="#about">&mdash; or keep scrolling to learn more about me &mdash;</a>
    <div class="container" id="about" role="main">
      <h2>About Me</h2>
      <p>
        Hey, I'm Jacob!
        I’m a fun, energetic, resourceful programmer with a passion for
        JavaScript. I'm finishing up a degree in Computer Science at University
        of Colorado Boulder. I have egregious levels of experience in both
        client- and server-side JS, and I have over a year of experience in
        ServiceNow administration and development under CU's IT department. I'm
        well-versed in a few other languages and pick up new ones quickly!
      </p>
      <p>
        I'm also a musician. This year, I've taken over as music director for my
        <em>a cappella</em> group, <a href="http://www.inthebuff.org">In the
        Buff</a>. This year is our 25th anniversary and we're finishing up
        recording an album. Check out ITB's website and social media for updates
        on that.
      </p>
      <p>
        I dabble in music production
        on my own, which you can hear for yourself on my
        <a href="https://soundcloud.com/mrjacobbloom">SoundCloud</a>. I've
        played piano since I was little and I'm often involved in community
        theatre.
      </p>
      <div class="contact-button-wrapper">
        <a class="contact-button triangle" href="mailto:mr.jacob.bloom@gmail.com"><strong>heck</strong> yeah i'll contact you</a>
      </div>
    </div>
    <script src="/resources/js/index.js"></script>
    {% include "footer.html" %}
  </div>
{% endblock %}
