{% extends 'skeleton.html' %}
{#  {% set pagename = 'Home' %}    #}

{% set bodyClass = 'animIn' %}
{% set animIn = true %}

{% block skeleton_head %}
  <link href="/resources/css/index.css" rel="stylesheet">
{% endblock %}

{% block skeleton_body %}
  <a href="#" id="animIn-overlay" aria-label="Skip intro" title="Skip intro"></a>
  {% include "navbar.html" %}
  <div class="content">
    <div class="hero-mom">
      <a href="code/" class="hero">
        <video class="hero-bg" aria-hidden="true" autoplay muted loop src="/resources/video/code.mp4"></video>
        <div class="hero-content">So yeah, I can code if you want</div>
      </a>
      <a href="music/" class="hero">
        <video class="hero-bg" aria-hidden="true" autoplay muted loop src="/resources/video/music.mp4"></video>
        <div class="hero-content">I also do music if that's more your thing</div>
      </a>
    </div>
    <a class="scroll-message" href="#about">&mdash; or keep scrolling to learn more about me &mdash;</a>
    <div class="container" id="about" role="main">
      <h2>About Me</h2>
      <p>
        Hey, I'm Jacob!
        I’m a fun, energetic, resourceful programmer with a passion for
        JavaScript. I have egregious levels of experience in both client- and
        server-side JS, and I'm currently putting that knowledge to the test
        at my job with <a href="http://anark.com/">Anark</a>.
      </p>
      <p>
        I'm also a musician. Since 2019, I've sung with the Denver Gay Men's
        Chorus. Before that, I sang with a college <em>a cappella</em> group
        called <a href="http://www.inthebuff.org">In the Buff</a>. I served as
        their music director for my senior year of college (which was also their
        25th anniversary) and worked on an album with them.
      </p>
      <p>
        I dabble in music production
        on my own, which you can hear for yourself on my
        <a href="https://soundcloud.com/mrjacobbloom">SoundCloud</a>. I've
        played piano since I was little and I'm often involved in community
        theatre.
      </p>
      <div class="contact-button-wrapper">
        <a class="contact-button triangle" href="mailto:mr.jacob.bloom@gmail.com"><strong>heck</strong> yeah i'll contact you</a>
      </div>
    </div>
    <script src="/resources/js/index.js"></script>
    {% include "footer.html" %}
  </div>
{% endblock %}
