{% extends 'content_page.html' %}
{% set pagename = 'Music' %}
{% block body %}
<p>
  My name is Jacob and music has been a major part of my life for as long as I
  can remember. I'm a singer, pianist, and amatuer music producer. Some of my
  work and accomplishments are detailed below.
</p>
<h2>Singing</h2>
<h3>Recent stuff</h3>
<p>
  I recently joined the Denver Gay Men's Chorus. It's been a great musical and
  social experience, and I look forward to having more to report soon!
</p>
<p>
  I've also been doing online karaoke on the app Smule since 2017. It's a great
  way to meet some very cool people around the world, and during the COVID-19
  lockdown, it was a great way to sing with my friends from a distance.
</p>
<h3>CU Boulder - In The Buff Men's A Cappella (2015 - 2019)</h3>
<p>
  <iframe class="right" width="280" height="158" src="https://www.youtube.com/embed/gXvk48XbNsw" frameborder="0" allowfullscreen></iframe>
  While I was in college, I was involved in an <em>a cappella</em> group called
  <a href="http://www.inthebuff.org">In the Buff</a>. I was involved in admin
  stuff starting my sophomore yeat, and my senior year I took over as Music
  Director, which was a great learning experience and I'm proud of what the
  group accomplished in that time.
</p>
<p>
  2019 was a big year for ITB. It was their 25th anniversary, and dozens of
  alumni came from across the country to celebrate at their 25th Birthday
  Concert. They also recorded and released an album called Wax On Wax Off, now
  available <a href="https://open.spotify.com/artist/1Wl6rb7Uy4jUFJ1ZSLMpeJ">on Spotify</a>
  or wherever you get your music.
</p>
<h2>Music Production</h2>
<p>
  I dabble a little in music production from time to time. When I'm not making
  karaoke tracks, I'm producing dinky chiptunes. Check all that out on my
  <a href="https://soundcloud.com/mrjacobbloom">SoundCloud</a>:
</p>
<iframe class="soundcloud-widget" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/64389215&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_reposts=false"></iframe>
<h2>Theatre</h2>
<p>
  I've been involved in community theatre since I was little. Some of my recent
  roles include Mark in <em>Rent</em> and Anthony in <em>Sweeney Todd</em>. For
  more details, see my <a href="https://docs.google.com/document/d/1Y1MnVua9W5gWxaA0VLZr1_GXr2HrGKW2cXk2l_rN9-M/edit?usp=sharing">theatre r&eacute;sum&eacute;</a>.
</p>
<h2>Other</h2>
<p>
  I've played piano since I was little. I'm into jazz as well! Throughout high
  school, I sang the stadards at a monthy jam session called <strong>Boulder
  Friends of Jazz</strong>.
</p>
<p>
  I've amassed a bit of a following on my
  <a href="https://www.youtube.com/user/jswingcovers">YouTube channel</a>, where
  I occasionally post karaoke tracks, ukulele tutorials, or school projects.
</p>
{% endblock %}
