{% extends 'content_page.html' %}
{% set pagename = 'Music' %}
{% block body %}
<p>
  My name's Jacob and I've been involved in musical performances all my life.
  I'm a singer, pianist, and amatuer music producer. Some of my work and
  accomplishments are detailed below.
</p>
<h2>A Cappella / Choir</h2>
<p>
  <iframe class="right" width="280" height="158" src="https://www.youtube.com/embed/gXvk48XbNsw" frameborder="0" allowfullscreen></iframe>
  Since my freshman year of college, I've been involved in an <em>a
  cappella</em> group called <a href="http://www.inthebuff.org">In the Buff</a>.
  It's honestly been one of the best decisions I've made in college. I met some
  of my best friends through the group and it's a highlight of my week.
</p>
<p>
  In 2017, ITB competed in the regional quarterfinal of the ICCA (the
  competition from <em>Pitch Perfect</em>). We came in third with an award for
  best arrangement, and more importantly, we had a great time doing it.
</p>
<p>
  We're currently in the process of recording an album. It'll be our first album
  in over seven years. Check out ITB's website and social media for info on how
  that's coming along, or where you can buy it.
</p>
<p>
  I've had previous choir experience as well. In high school, I was briefly
  co-president of the jazz choir. I participated in Colorado's All-State Jazz
  Choir, and I was one of only 8 men accepted into it in 2015.
</p>
<h2>Music Production</h2>
<iframe class="left" width="300" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/64389215&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_reposts=false"></iframe>
<p>
  I dabble a little in music production from time to time. I enjoy crafting
  predictable, full-sounding music that relies heavily on repeated melodic
  patterns. I get plenty of mileage out of chip noises and cheap MIDI synths,
  which I use to create kitsch, synthesized music meant to evoke a neo-Nintendo
  nostalgia for the listener. I've posted some of my work on my
  <a href="https://soundcloud.com/mrjacobbloom">SoundCloud</a> if you're
  interested in experiencing it for yourself.
</p>
<h2>Theatre</h2>
<p>
  I've been involved in community theatre as long as I can remember. Some of my
  recent roles include Mark in <em>Rent</em> and Anthony in
  <em>Sweeney Todd</em>. For more details, see my <a href="https://docs.google.com/document/d/1Y1MnVua9W5gWxaA0VLZr1_GXr2HrGKW2cXk2l_rN9-M/edit?usp=sharing">theatre r&eacute;sum&eacute;</a>.
</p>
<h2>Other</h2>
I've played piano since I was little. I'm into jazz as well! Once a month, I sing the stadards at a jam
session called <strong>Boulder Friends of Jazz</strong>.
{% endblock %}
