<div id="navbar">
  <div class="container">
    <a href="{{ url }}" class="wordmark">
      <span class="wordmark-name">Jacob Bloom</span>
      <div id="tagline">
        <div class="flipper">
      		<div class="front"></div>
      		<div class="back"></div>
      	</div>
      </div>
    </a>
  </div>
</div>
<script>
var flipper = document.querySelector('.flipper');
var taglines = [
  'is really great and smart',
  'knows pi to 6 decimal places',
  'codes like a pro',
  'has cool hair',
  'is a great speler',
  'has a voice like an angel',
  'smells nice (usually)',
  'should be hired by you',
  'has been outside',
  'does awesome music things',
  'looks good in clothing',
  'doesn\'t like his own posts',
  'knows the ABC\'s backwards',
  'never lies (not counting this)'
], i = Math.floor(Math.random() * taglines.length);
flipper.querySelector('.front').textContent = taglines[i];
setInterval(e => {
  i++;
  let tagline = taglines[i % taglines.length];
  if(flipper.classList.toggle('flip')) {
    flipper.querySelector('.back').textContent = tagline;
  } else {
    flipper.querySelector('.front').textContent = tagline;
  }
}, 4000);
</script>
