<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta property="og:title" content="{{ name }}">
    <meta property="og:description" content="{{ description }}">
    
    <link rel="icon" href="/favicon.ico">
    {% if pagename %}
      <title>{{pagename}} | {{name}}</title>
    {%else %}
      <title>{{name}}</title>
    {% endif %}
    
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Sanchez" rel="stylesheet">
    <link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/css/global.css" rel="stylesheet">
    
    {% block skeleton_head %}{% endblock %}
  </head>

  <body class="{{bodyClass}}">
    {% block skeleton_body %}{% endblock %}
  </body>
</html>
