<div id="navbar" class="triangle" role="navigation">
  <div class="container">
    <a href="/" class="wordmark">
      <span class="wordmark-name" aria-label="Home">Jacob Bloom</span>
      <div id="tagline" aria-hidden="true">
        <div class="flipper">
      		<div class="front"></div>
      		<div class="back"></div>
      	</div>
      </div>
    </a>
  </div>
</div>
<a href="#" id="animIn-overlay" aria-label="Skip intro" title="Skip intro"></a>
<script src="/assets/js/navbar.js" type="module"></script>
