$dark: #1f6268;
$light: white;
$bg-grey: #fafafa;
$width: 800px;
$nav-height: 80px;
$nav-height-mobile: 115px;
$display-font: 'Roboto', sans-serif;
$shadow: 0 0 10px rgba(0,0,0,.25);
$hoverscale: scale(1.05);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
