@import "consts";

.hero {
  text-align: center;
  transition: transform .4s;
  position: relative;
  box-shadow: @shadow;
  &:hover {
    z-index: 1;
    transform: @hoverscale;
    .hero-bg {
      filter: brightness(1);
    }
  }
  .hero-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: filter .4s;
    background: @med;
    filter: brightness(0.8);
    overflow: hidden;
    width: 100%;
    z-index: -1;
  }
  .hero-content {
    display: inline-block;
    color: @light;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 25pt;
    font-family: @display-font;
    position: absolute;
    text-shadow: 1px 1px 2px #333;
    left: 0;
    top: ~"calc( 50% - 1ex )";
  }
}

/************** MOBILE ***************/
@media (max-width: @width) {
  .hero {
    min-width: unset;
    max-width: unset;
    &:hover {
      transform: none !important;
      .hero-bg {
        filter: brightness(.8);
      }
    }
  }
}
