---
---

@import "consts";

/************** PROJECT CAROUSEL ***************/

// make it less terrible before initialized
.main-carousel:not(.flickity-enabled) {
  display: flex;
  padding: 45px 0;
  margin-top: -20px;
  overflow: hidden;
  .carousel-cell {
    flex: 0 0 197px;
    &:first-child {
      transform: scale(1.5);
    }
  }
}

.hero.carousel-cell {
  width: 197px;
  height: 150px;
  display: inline-flex;
  &.is-selected {
    z-index: 3;
    transform: scale(1.5);
    .hero-content {
      opacity: 0;
    }
    .hero-bg {
      opacity: 1;
    }
  }
}

.flickity-viewport {
  padding: 45px 0;
  margin-top: -20px;
}

/************** PROJECT DESCRIPTION ***************/

.project-descriptions {
  border: 1px solid $dark;
  padding: 10px;
  position: relative;
  margin-top: 5px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: $bg-grey;
    border: 1px solid transparent;
    border-top-color: $dark;
    border-right-color: $dark;
    top: -6px;
    left: #{"calc(50% - 6px)"};
    transform: rotate(-45deg);
  }
  h3 {
    margin: 0;
  }
  .button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    .fa {
      padding-right: 0.5ex;
    }
  }
}

.project-description {
  display: none;
  &.visible {
    display: block;
  }
}

.project-technologies {
  font-style: italic;
  font-size: 10pt;
  margin: 10px 0;
}

/************** TIMELINE VIEW ***************/
.timeline-mom {
  display: flex;
}

.timeline-time {
  flex: 0 0 112px;
  text-align: right;
  font-size: 10pt;
  border-right: 3px solid $dark;
  padding: 11px 15px 0 0;
  position: relative;
  &::before {
    content: "";
    border: 3px solid $dark;
    background: $bg-grey;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: -10px;
  }
}

.timeline-content {
  padding: 5px 5px 5px 15px;
  h3 {
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
    padding-left: 30px;
  }
}