---
---

@import "consts";

/************** START WITH THE BIG STUFF ***************/
body {
  font-family: 'Sanchez', sans-serif;
  font-weight: lighter;
  font-size: 12pt;
  background-color: $bg-grey;
  //background-image: url(/assets/img/footer_lodyas.png);
  color: $dark;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.container {
  width: $width;
  margin: 0 auto;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/************** TRIANGLE BG ***************/
.triangle {
  background-color: $dark;
  background-image: url(/assets/img/trianglify-extrawide.svg);
  background-size: cover;
}

/************** NAVBAR ***************/
@import "navbar";

/************** MOBILE ***************/
@media (max-width: ($width + 20px)) {
  body {
    padding-top: $nav-height-mobile;
  }
  .container {
    width: unset;
    padding: 0 10px;
  }
}

/************** FOOTER ***************/
.footer {
  padding: 5px 0;
  margin-top: 10px;
  color: $light;
  box-shadow: $shadow;
}

.footer .container {
  display: flex;
  align-items: center;
}

.contact-links {
  //text-align: center;
  display: inline-block;
  font-size: 40px;
  margin-top: 4px;
  a {
    color: $light;
    transition: all .4s;
    display: inline-block;
    &:hover {
      //color: lighten($dark, 10%);
      transform: scale(1.1);
    }
  }
}

.copyright {
  margin-left: 10px;
}
