---
---

@import "consts";

/************** CONTENT ***************/
.content {
  position: absolute;
  top: $nav-height;
  right: 0;
  bottom: 0;
  left: 0;
}

/************** PRIMARY BUTTONS ***************/
.primary-buttons {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - (#{$nav-height} + 30px));
  margin: 15px;
  margin-bottom: 0;
}
.primary-button {
  flex: 1 1 40%;
  display: flex;
  margin: 15px;
  position: relative;
  transition: transform .4s;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      z-index: 1;
      transform: $hoverscale;
    }
  }
}
.primary-button-content {
  display: inline-block;
  color: $dark;
  text-shadow: 0 0 5px $bg-grey;
  z-index: 10;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 25pt;
  font-family: $display-font;
  --starburst-delay: 0;
  --starburst-angle: 0;
}
.primary-button-starburst {
  font-size: 2rem;
  position: absolute;
  color: #aaa;
  animation: 4s ease-out infinite starburst;
  animation-delay: var(--starburst-delay);
  transition: color .4s;
  opacity: 0;
  pointer-events: none;
  @media (hover: hover) {
    .primary-button:hover & {
      animation-duration: 2s;
      color: lighten($dark, 40%);
    }
  }
}

@keyframes starburst {
  0% {
    opacity: 0;
    transform: rotate(var(--starburst-angle)) translateX(20px) rotate(calc(-1 * var(--starburst-angle)));
  }
  10% { opacity: 1; }
  60% { opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(var(--starburst-angle)) translateX(40vw) rotate(calc(-1 * var(--starburst-angle)));
  }
}

/************** ABOUT ME STUFF ***************/
.scroll-message {
  display: block;
  text-align: center;
  font-size: 18pt;
  font-family: $display-font;
  font-weight: 300;
  position: relative;
  top: -15px;
  color: $dark;
  text-decoration: none;
  height: 0;
  z-index: 5;
  transition: transform .4s;
  &:hover {
    transform: $hoverscale;
  }
}

h2 {
  font-family: $display-font;
  font-weight: 200;
  font-size: 23pt;
  margin-top: 15px;
}

#about {
  text-align: justify;
}

#about p a {
  color: $dark;
}
.contact-button-wrapper {
  margin: 30px 0;
  text-align: center;
}
.contact-button {
  font-family: $display-font;
  display: inline-block;
  background-color: $dark;
  color: $light;
  font-size: 22pt;
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: all .2s;
  strong {
    font-weight: 300;
  }
  &:hover {
    background-color: lighten($dark, 10%);
    transform: scale(1.05);
  }
  &:active {
    background-color: darken($light, 10%);
  }
}

/************** MOBILE ***************/
@media (max-width: ($width + 60px)) {
  body {
    padding-top: $nav-height-mobile;
  }
  .container {
    width: unset;
    padding: 0 30px;
  }
}

@media (max-width: $width) {
  .content {
    top: $nav-height-mobile;
  }
  .primary-buttons {
    flex-direction: column;
    height: calc(100vh - (#{$nav-height-mobile} + 30px));
  }
  .scroll-message {
    display: none;
  }
}
