{% extends 'layout.html' %}
{% set pagename = 'Code' %}
{% block body %}
I've done a lot of code things over the years; here are just a few of my favorites:

<div class="hero-mom">
  <a href="https://github.com/ElementalCode/elemental" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="/resources/video/elemental.mov"></video>
    </div>
    <div class="hero-content">Elemental</div>
  </a>
  <a href="editor/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="/resources/video/editor.mov"></video>
    </div>
    <div class="hero-content">Editor</div>
  </a>
  <a href="https://jsfiddle.net/mrjacobbloom/wyedx7bq/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="/resources/video/doot.mov"></video>
    </div>
    <div class="hero-content">Doot</div>
  </a>
  <a href="https://jsfiddle.net/mrjacobbloom/65L2yv8r/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="/resources/video/dot_dance.mov"></video>
    </div>
    <div class="hero-content">Dot Dance</div>
  </a>
  <a href="yolobrella/" class="hero" target="_blank">
    <div class="hero-bg">
      <video autoplay loop src="/resources/video/yolobrella.mov"></video>
    </div>
    <div class="hero-content">Yolobrella</div>
  </a>
</div>
{% endblock %}
